Repository sylabs/singularity, pull requests merged in 2022-12, with the labels that each got.

#1157 feat: oci: support namespace flags
  e2e/actions/actions.go
  e2e/actions/oci.go
  internal/pkg/runtime/launcher/oci/launcher_linux.go
  internal/pkg/runtime/launcher/oci/launcher_linux_test.go
  internal/pkg/runtime/launcher/oci/spec_linux.go
  internal/pkg/runtime/launcher/oci/spec_linux_test.go
Labels: ci:e2e

#1158 feat: oci: enable bind mounts via --bind, --mount
  e2e/actions/actions.go
  e2e/actions/oci.go
  internal/pkg/runtime/launcher/native/launcher_linux.go
  internal/pkg/runtime/launcher/oci/launcher_linux.go
  internal/pkg/runtime/launcher/oci/mounts_linux.go
  internal/pkg/runtime/launcher/oci/mounts_linux_test.go
  pkg/runtime/engine/singularity/config/config.go
  pkg/util/bind/bind.go
  pkg/util/bind/bind_test.go
  pkg/util/bind/mount.go
  pkg/util/bind/mount_test.go
Labels: ci:e2e

#1155 Environment Variables for Signing Key Material
  cmd/internal/cli/sign.go
  docs/content.go
  e2e/sign/sign.go
Labels: ci:e2e

#1156 Environment Variables for Verification
  cmd/internal/cli/sign.go
  cmd/internal/cli/verify.go
  docs/content.go
  e2e/verify/verify.go
Labels: ci:e2e

#1166 feat: oci: support --env option in --oci mode
  e2e/env/env.go
  e2e/env/oci.go
  internal/pkg/runtime/launcher/oci/launcher_linux.go
  internal/pkg/runtime/launcher/oci/process_linux.go
  pkg/ocibundle/native/bundle_linux.go
  pkg/ocibundle/native/bundle_linux_test.go
Labels: ci:e2e

#1169 feat: oci: add SINGULARITYENV_ handling for --oci mode
  e2e/env/env.go
  e2e/env/oci.go
  internal/pkg/runtime/launcher/oci/launcher_linux.go
  internal/pkg/runtime/launcher/oci/process_linux.go
  internal/pkg/runtime/launcher/oci/process_linux_test.go
Labels: ci:e2e

#1170 feat: oci: enable --env-file in --oci mode
  e2e/env/env.go
  e2e/env/oci.go
  internal/pkg/runtime/launcher/native/launcher_linux.go
  internal/pkg/runtime/launcher/oci/launcher_linux.go
  internal/pkg/runtime/launcher/oci/process_linux.go
  internal/pkg/runtime/launcher/oci/process_linux_test.go
Labels: ci:e2e

#1176 doc: Add CHANGELOG entry for `--oci`
  CHANGELOG.md
Labels: documentation

#1182 feat: Set SINGULARITY_INSTANCE equal to instance name
  CHANGELOG.md
  e2e/instance/instance.go
  internal/pkg/runtime/launcher/native/launcher_linux.go
  internal/pkg/util/fs/files/action_scripts.go
Labels: enhancement, ci:e2e

#1181 rocm: fixups and --oci support
  CHANGELOG.md
  e2e/gpu/gpu.go
  etc/rocmliblist.conf
  internal/pkg/runtime/engine/singularity/container_linux.go
  internal/pkg/runtime/launcher/oci/launcher_linux.go
  internal/pkg/runtime/launcher/oci/mounts_linux.go
  internal/pkg/util/gpu/rocm.go
Labels: bug, enhancement, ci:e2e

#1187 instance: CPU usage as percentage
  internal/app/singularity/instance_linux.go
Labels: enhancement, ci:e2e

#1185 e2e: Test custom %test / %runscript shebang
  e2e/imgbuild/imgbuild.go
Labels: ci:e2e

#1186 instance: start with cgroup if possible, to enable stats
  CHANGELOG.md
  e2e/cgroups/cgroups.go
  e2e/suite.go
  internal/pkg/runtime/launcher/native/launcher_linux.go
Labels: enhancement, ci:e2e

#1196 feat: reproducible build (SOURCEDIR / BUILDDIR)
  CHANGELOG.md
  internal/app/singularity/plugin_compile_linux.go
  internal/pkg/buildcfg/confgen/gen.go
  internal/pkg/plugin/create.go
  internal/pkg/plugin/module.go
  mconfig
  mlocal/checks/project-post.chk
Labels: ci:e2e

#1197 e2e: replace tests PID namespace with child subreaper
  e2e/e2e_test.go
  e2e/internal/e2e/init/init_linux.go
  e2e/oci/oci.go
  e2e/suite.go
  mlocal/frags/Makefile.stub
  scripts/e2e-test
Labels: ci:e2e

#1195 Support limit flags for instances
  cmd/internal/cli/actions.go
  e2e/cgroups/cgroups.go
Labels: ci:e2e

#1207 feat: oci: support legacy --nv bind mode
  CHANGELOG.md
  e2e/gpu/gpu.go
  internal/pkg/runtime/launcher/oci/launcher_linux.go
  internal/pkg/runtime/launcher/oci/mounts_linux.go
Labels: ci:e2e

#1177 feat: oci: support cgroups requests in --oci mode
  CHANGELOG.md
  e2e/cgroups/cgroups.go
  e2e/env/oci.go
  e2e/internal/e2e/profile.go
  e2e/internal/e2e/singularitycmd.go
  internal/app/singularity/oci_linux.go
  internal/pkg/cgroups/manager_linux.go
  internal/pkg/cgroups/util.go
  internal/pkg/runtime/launcher/oci/launcher_linux.go
  internal/pkg/runtime/launcher/oci/oci_conmon_linux.go
  internal/pkg/runtime/launcher/oci/oci_runc_linux.go
Labels: ci:e2e

#1219 fix: block overlay for panfs
  CHANGELOG.md
  internal/pkg/util/fs/overlay/overlay_linux.go
  internal/pkg/util/fs/overlay/overlay_linux_test.go
Labels: bug
