Repository sylabs/singularity, pull requests merged in 2023-03, with the labels that each got.

#1399 e2e: improve ImageVerify efficiency and replace defer-based cleanups
  e2e/docker/docker.go
  e2e/imgbuild/imgbuild.go
  e2e/imgbuild/regressions.go
  e2e/internal/e2e/imageverify.go
  e2e/pull/pull.go
Labels: ci:e2e

#1409 e2e: fix: use temp HOME for docker
  e2e/docker/docker.go
Labels: bug, ci:e2e, backport

#1410 fix: fall back to cgroupfs for OCI non-root, non cgroups v2
  CHANGELOG.md
  internal/app/singularity/oci_linux.go
Labels: bug, ci:e2e, backport

#1411 e2e: fix: use temp HOME for docker (release-3.11)
  e2e/docker/docker.go
Labels: ci:e2e, backport

#1412 fix: fall back to cgroupfs for OCI non-root, non cgroups v2 (release-3.11)
  CHANGELOG.md
  internal/app/singularity/oci_linux.go
Labels: bug, ci:e2e, backport

#1413 updated go-toml dependency to v2 (release-3.11)
  CONTRIBUTORS.md
  LICENSE_DEPENDENCIES.md
  e2e/cgroups/cgroups.go
  go.mod
  go.sum
  internal/pkg/cgroups/config_linux.go
  internal/pkg/syecl/syecl.go
  internal/pkg/syecl/testdata/TestAPutConfig/BlackList.golden
  internal/pkg/syecl/testdata/TestAPutConfig/BlackListLegacy.golden
  internal/pkg/syecl/testdata/TestAPutConfig/KitchenSink.golden
  internal/pkg/syecl/testdata/TestAPutConfig/KitchenSinkLegacy.golden
  internal/pkg/syecl/testdata/TestAPutConfig/WhiteList.golden
  internal/pkg/syecl/testdata/TestAPutConfig/WhiteListLegacy.golden
  internal/pkg/syecl/testdata/TestAPutConfig/WhiteStrict.golden
  internal/pkg/syecl/testdata/TestAPutConfig/WhiteStrictLegacy.golden
Labels: dependencies, backport

#1426 oci: drop warning about runc functionality
  internal/pkg/runtime/launcher/oci/oci_linux.go
Labels: ci:e2e, backport

#1427 oci: drop warning about runc functionality (release-3.11)
  internal/pkg/runtime/launcher/oci/oci_linux.go
Labels: ci:e2e, backport

#1420 fix: support and test yum bootstrap on newer distros
  CHANGELOG.md
  e2e/imgbuild/imgbuild.go
  e2e/internal/e2e/home.go
  examples/almalinux-arm64/Singularity
  examples/almalinux/Singularity
  examples/fedora-arm64/Singularity
  examples/fedora/Singularity
  internal/pkg/build/sources/conveyorPacker_yum.go
  internal/pkg/build/sources/conveyorPacker_yum_test.go
  internal/pkg/test/tool/require/require.go
  internal/pkg/util/rpm/rpm.go
  internal/pkg/util/rpm/rpm_test.go
  pkg/build/types/parser/deffile.go
Labels: bug, ci:e2e, backport

#1423 fix: support and test yum bootstrap on newer distros (release-3.11)
  CHANGELOG.md
  e2e/imgbuild/imgbuild.go
  e2e/internal/e2e/home.go
  examples/almalinux-arm64/Singularity
  examples/almalinux/Singularity
  examples/fedora-arm64/Singularity
  examples/fedora/Singularity
  internal/pkg/build/sources/conveyorPacker_yum.go
  internal/pkg/build/sources/conveyorPacker_yum_test.go
  internal/pkg/test/tool/require/require.go
  internal/pkg/util/rpm/rpm.go
  internal/pkg/util/rpm/rpm_test.go
  pkg/build/types/parser/deffile.go
Labels: bug, ci:e2e, backport

#1421 e2e: fix: don't panic if OCSP responder cannot start
  e2e/verify/verify.go
Labels: bug, ci:e2e, backport

#1422 chore: bump go, ci deps (release-3.11)
  .circleci/config.yml
  INSTALL.md
  cmd/internal/cli/singularity_test.go
  e2e/delete/delete.go
  e2e/imgbuild/imgbuild.go
  go.mod
  internal/pkg/util/interactive/interactive.go
  pkg/util/unix/socket_test.go
  test/certs/leaf.pem
Labels: ci:e2e, backport

#1430 fix: address cgroups v1 device related e2e test failures
  CHANGELOG.md
  e2e/cgroups/cgroups.go
  internal/pkg/cgroups/manager_linux.go
Labels: bug, ci:e2e, backport

#1431 fix: address cgroups v1 device related e2e test failures (release-3.11)
  CHANGELOG.md
  e2e/cgroups/cgroups.go
  internal/pkg/cgroups/manager_linux.go
Labels: bug, ci:e2e, backport

#1435 e2e: fix incorrect arm64->amd64 in CentOS Yum test
  e2e/imgbuild/imgbuild.go
Labels: bug, ci:e2e, backport

#1436 e2e: fix incorrect arm64->amd64 in CentOS Yum test (release-3.11)
  e2e/imgbuild/imgbuild.go
Labels: bug, ci:e2e, backport

#1438 e2e: Retry OCI state check after 1s
  e2e/oci/oci.go
Labels: bug, ci:e2e, arm64, backport

#1439 e2e: Retry OCI state check after 1s (release-3.11)
  e2e/oci/oci.go
Labels: bug, ci:e2e, arm64, backport

#1455 rpm: fix: Update %files section for statedir change
  dist/rpm/singularity-ce.spec.in
Labels: bug

#1456 rpm: fix: correct BuildRequires/Requires for SLES
  CHANGELOG.md
  dist/rpm/singularity-ce.spec.in
Labels: bug, backport
